
<div class="tcycle content_img" data-speed="500" data-timeout="7000">
	<img src="/assets/wearea2.jpg">
	<img src="/assets/ChristmasCelebration.png">
	<img src="/assets/UglySweater.png">
  <img src="/assets/2WaystoGive.jpg">
  <img src="/assets/socialmediawebsite.jpg">
	<img src="/assets/advent2016.png">
</div>
