
<div class="tcycle content_img" data-speed="500" data-timeout="7000">
	<a href="https://kideventpro.lifeway.com/myChurch/?id=35045"><img src="/assets/VBS_2016website.jpg"></a>
	<img src="/assets/wearea2.jpg">
  <img src="/assets/2WaystoGive.jpg">
  <img src="/assets/socialmediawebsite.jpg">
</div>
