
<div class="tcycle content_img" data-speed="500" data-timeout="7000">
  <img src="/assets/christmaseve2015web.jpg">
  <img src="/assets/wearea2.jpg">
  <img src="/assets/2WaystoGive.jpg">
  <img src="/assets/socialmediawebsite.jpg">
</div>
