<!-- Content Section -->
<div id="picture">
	<img src="assets/loveAllPic.jpg" width=108 height=354 border=0 style="float:left">
	<img src="assets/background2.jpg"  width=354 height=354 border=0 style="padding-left: 50px" >
</div>
<div class="love">
	<h2 class="red">IN ACTS CHAPTER 2</h2>
	<p class="body">v.45 And they were selling their possessions and belongings and distributing the proceeds to all, as any had need. v.47 praising God and having favor with all the people. And the Lord added to their number day by day those who were being saved.</p>
	<h2 class="red">TODAY</h2>
	<p class="body">It would have been easy for the church in Acts 2 to isolate themselves from the rest of the world in their tight inner circle of fellow believers. But they didn't. They were an ethos of apprentices of Jesus Christ. They undersootd Jesus' words when he said, "GO, and make disciples of all nations" and "I am SENDING you as my Father has sent me." Far too often, today's church looks more like country club then the church in Acts 2. Christ died so that all may receive salvation, yet His blood only covers those who believe. He has given this message to His church to proclaim to the world. And that is our desire, to show the gospel of Jesus Christ to the world. Not just tell them, SHOW them. To reflect it in our lives; by Listening, by Serving, by Helping, by Giving, by Loving and in how we treat ALL of God's creation. We are committed to showing Jesus to the world. This is what we strive to be, the church as Christ intended.</p>
</div>
<div class="heading">
	<h1 class="red">LOVE <span class="black">ALL</span></h1>
</div>