<!-- Content Section -->
<div id="picture">
	<img src="assets/loveGodPic.jpg" width=108 height=354 border=0 style="float:left">
	<img src="assets/background2.jpg"  width=354 height=354 border=0 style="padding-left: 50px" >
</div>
<div class="love">
	<h2 class="red">IN ACTS CHAPTER 2</h2>
	<p class="body">v.42 And they devoted themselves to the apostles' teaching and fellowship, to the breaking of bread and the prayers. v.43 And awe came upon every soul, and many wonders and signs were being done throught the apostles.</p>
	<h2 class="red">TODAY</h2>
	<p class="body">It all starts here.<br />The church in Acts 2 recognized this and centered everything around God. Specifically on the Gospel message. Why? Because there is nothing more powerful and transforming in the world than the gospel of Jesus Christ. The early church understood this and so do we. All that we do, all that we are, our entire lives should be devoted to God and a relection of Jesus Christ. It all centers around Jesus. Jesus said, "You shall love the Lord your God with all your heart and with all your soul and with all you mind and with all your strength." This is the greatest commandment. In order to become this, we are committed to Biblical teaching, to Christian fellowship with one another, to communion, to prayer and worship to God. A church who invites all, as God calls all, and a church full of joy and awe for an extaordinary God who makes ordinary people extraordinary. This is what we strive to be, the church as Christ intended.</p>
</div>
<div class="heading">
	<h1 class="red">LOVE <span class="black">GOD</span></h1>
</div>