<!-- Content Section -->
<div id="picture">
	<img src="assets/loveOneAnotherPic.jpg" width=108 height=354 border=0 style="float:left">
	<img src="assets/background2.jpg"  width=354 height=354 border=0 style="padding-left: 50px" >
</div>
<div class="love">
	<h2 class="red">IN ACTS CHAPTER 2</h2>
	<p class="body">v.44 And all who believed were together and had all things in common.<br />v.46 And day by day, attending the temple together and breaking bread in their homes, they received their food with glad and generous hearts.</p>
	<h2 class="red">TODAY</h2>
	<p class="body">The church in Acts 2 was a unique and powerful community. It was a community devoted to their pursuit of God, as well as their devotion to loving one another. They worshipped together, they met together, they ate together. They had all things in common, because they were following Jesus together. They understood that the second greatest commandment was "Love your neighbor as yourself" and they lived it. In the same way today, we believe that once we learn to Love God we are able to truly Love One Another. We see one another not just as another person in the church on Sundays, but rather we see and love one another as Jesus did. We view each other as family, for Christ's blood runs through us all. We believe together, we serve together, we eat together, we do life together. We are devoted to one another as family. This is what we strive to be, the church as Christ intended.</p>
</div>
<div class="heading">
	<h1 class="red">LOVE <span class="black">ONE ANOTHER</span></h1>
</div>