<!-- Content Section -->
<div id="picture">
	<img src="assets/background2.jpg"  width=354 height=354 border=0 style="padding-left: 100px" >
</div>
<div id="scrollbox">
	<h2>God: The Source of Everything</h2>
		<p>We believe that there is one God who exists eternally in three persons &#8211; Father, Son and Holy Spirit.  We believe 
		that God the Father Almighty is the Creator and Ruler of all things, both visible and invisible, and that He has 
		revealed Himself to all mankind.<br /><em>(Genesis 1:1-2; Matthew 5:16, 45; 6:1; James 1:17; John 1:1; 14:9; 16-24; 2 Peter 1:21; Acts 17:24-28; 
		Hebrews 11:3)</em></p>
		
	<h2>Jesus Christ: God&#8217;s One and Only Son, our One and Only Savior</h2>
		<p>We believe that Jesus Christ is God&#8217;s one and only Son who was born both fully human and fully divine, conceived 
		of the Holy Spirit and the virgin Mary.  We believe that Jesus lived a sinless life then suffered and died, being 
		crucified on a cross, offering Himself as a perfect sacrifice for the sins of all people.  He was then buried and 
		rose from the dead after three days demonstrating His power over sin and death.  He then ascended into heaven, 
		to the right hand of God, and will return to earth one day to reign as King of Kings and Lord of Lords.<br />
		<em>(John 1:14; 1 John 4:9; John 3:16; 2 Peter 3:18; Matthew 21:11; 24:36-42; John 19:19; Romans 5:15-17; Colossians 2:9; 1 John 1:1; Matthew 1:18; Luke 1:26-38; 1 Peter 1:22; Luke 23:1-46; Luke 23:44 - 24:8; John 20:24-29; 1 Corinthians 15:3-8; Luke 22:69; Acts 1:1-9; Colossians 3:1; John 14:1-3; Acts 1: 10-11; 10:39-42; 1 Peter 4:5) </em></p>
	
	<h2>Holy Spirit: Personal and Active</h2>
		<p>We believe that the Holy Spirit is the third person in the Trinity, who influences the lives of unbelievers and 
		who comes to live within every believer.  The Holy Spirit provides the power for living, the understanding of 
		spiritual truth and the guidance in life for the purpose of increasing the Christ-like character of every 
		Christian. <br />
		<em>(John 14:16-17; 16:5-15; Acts 1:7-8; Romans 8:26-27; Ephesians 1:13-14; 5:18; 1 Corinthians 3:16; 6:19; 2 Timothy 1:14)</em></p>
	
	<h2>Bible:  The Truth</h2>
		<p>We believe that the Bible is God&#8217;s Holy Word written to all mankind.  We believe that the Holy Spirit inspired 
		the original writings of the Bible and therefore they were written without error and are completely trustworthy.  
		We accept the Bible as the supreme authority for all matters of faith and practice. <br />
		<em>(Mark 12:36; John 14:26; 16:12-15; Acts 1:16; 1 Corinthians 2:12-13; 2 Timothy 3:14-16; 2 Peter 1:20-21; Isaiah 40:8; Matthew 5:18; 24:35; Romans 15:4; Hebrews 4:12) </em></p>
	
	<h2>Man: Created Imago Dei, Ruined by Sin</h2>
		<p>We believe that every human being is created in the image of God, but through the sin of Adam, death and sin 
		entered the world and marred all creation.  We believe that all have sinned against God, separating them from the 
		Creator, and are without hope apart from Jesus Christ.<br />
		<em>(Genesis 1:27; 2:7; 16-17; 3:1-24; Acts 4:12; Ephesians 2:1; Romans 3:23)</em></p>
	
	<h2>Salvation:  By Grace, through Faith</h2>
		<p>We believe that salvation cannot be earned, but is given to us by God&#8217;s grace through the blood of Jesus Christ.  
		We believe that we must respond in faith to God and that authentic faith is an active, living faith made known 
		in our believing and confessing the truth about Jesus, turning away from sin (repenting), trusting Jesus as 
		Savior and Lord, and being baptized (immersed) into the death and resurrection of Jesus Christ.<br />
		<em>(Romans 5:1-11, 6:1-4; 23; Ephesians 2:8-10; Hebrews 10:19-22; 1 Peter 1:18, 19; 1 John 1:7; Acts 2:38; Romans 3:23; 6:1-4; Titus 3:3-7; Matthew 10:32; Romans 10:9, 10; Luke 24:45-47; Acts 3:19, 17:30; Romans 10:11-13, Philippians 2:11)</em></p>
	
	<h2>Church: Faith Expressing Itself in Love</h2>
		<p>We believe that the local church is the living, breathing body of Christ on earth.  It is made up of those who 
		have put their faith in Jesus Christ, who are devoted together to growing in Christ through Biblical teaching, 
		authentic fellowship and passionate worship.  We believe that these same Christians are also devoted together to 
		share the Gospel of Jesus Christ to the world, neglecting no one, loving and serving all those they cross paths 
		with.<br />
		<em>(Matthew 16:13-18; Acts 2:42-47, Ephesians 1:22-23; 4:11-14; Matthew 28:18-20)</em></p>		
</div>
<div class="heading">
	<h1 class="red"><span class="black">WHAT </span>WE <span class="black">BELIEVE</span></h1>
</div>