<!-- Content Section -->
<div id="picture">
	<img src="assets/pastorbenpic.jpg" width=108 height=354 border=0 style="float:left">
	<img src="assets/background2.jpg"  width=354 height=354 border=0 style="padding-left: 50px" >
</div>
<div class="love">
	<h2 class="red">PASTOR BEN NORVIG</h2>
	<p class="body">Ben is the founding pastor of The Acts 2 Church: a church founded on the desire to be like the church seen in Acts 2:42-47. A church family with people that love God, that love one anohter, and that love all with a love incorruptible from a heart and life that has been saturated with the gospel of Jesus Christ. A family that meets the needs in the church, in the community and in the world. A family that shows the world Jesus Christ as well as tells them about him.</p>
	<p class="body">He is the father of 3 dauthers: Faith, Hope, and Grace (who together form a incredible combination of creativity, beauty, thunderous vocals, unending energy, quiet cuddling and UFC-like toughness).</p>
	<p class="body">He challenges anyone to read the book simply called "Holy Bible", but warns that it is a very dangerous book to read and usually leads to rebellion, dramatic life changes, unconditional love, loss of "rights", and pursuit that will continue the rest of your life.</p>
</div>
<div class="heading">
	<h1 class="red"><span class="black">WHO </span>WE <span class="black">ARE</span></h1>
</div>
